<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="buildConfig" value="debug"/>
  <variable name="logDirectory" value="./unset"/>
  <targets async="true">
    <target name="logconsole" xsi:type="ColoredConsole" layout="(${date:format=yyyy\/MM\/dd HH\:mm}) [${callsite:includeSourcePath=false:includeNamespace=false}] ${message}"/>
    <target name="loginfo" xsi:type="File" fileName="${var:logDirectory}/info.txt" />
    <target name="logerror" xsi:type="File" fileName="${var:logDirectory}/error.txt" />
    <target name="logfatal" xsi:type="File" fileName="${var:logDirectory}/fatal.txt"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole">
      <filters>
        <when condition="equals('${var:buildConfig}','release')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Info" writeTo="logconsole">
      <filters>
        <when condition="equals('${var:buildConfig}','debug')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="*" minlevel="Info" writeTo="loginfo" />
    <logger name="*" minlevel="Error" writeTo="logerror" />
    <logger name="*" minlevel="Fatal" writeTo="logfatal" />
  </rules>
</nlog>